<hr>
<div class="social-content">
  <h3 class="social-title">Share this:</h3>
  <div class="social-wrapper">
    <a class="facebook" target="_blank" href="http://www.facebook.com/share.php?u={{ site.url }}{{ page.id }}&title={{ page.title }}"><i class="ion ion-social-facebook"></i>Share</a>
    <a class="twitter" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}: {{ site.url }}{{ page.id }}"><i class="ion ion-social-twitter"></i>Tweet</a>
    <a class="googleplus" target="_blank" href="https://plus.google.com/share?url={{ site.url }}{{ page.id }}"><i class="ion ion-social-googleplus"></i>Share</a>
  </div>
</div>
<hr>
