/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar
  +position(fixed, 0 0 null 0)
  width: 100%
  height: 70px
  color: rgba(255,255,255,.5)
  background:
    color: #202020
  z-index: 2

  &::before
    content: ''
    display: none
    +position(absolute, 0 0 0 0)
    background:
      image: url("/assets/img/bg_network.svg")
      size: cover
      repeat: no-repeat
      position: center
    opacity: 0.1

    @media (min-width: 48rem)
      display: block

  @media (min-width: 48rem)
    +position(fixed, 0 null 0 0)
    width: 18rem
    height: auto
    padding: 2rem 1rem


/* Sidebar links */
.sidebar a
  color: #fff

/* Sidebar nav */
.sidebar-nav
  padding-left: 0
  list-style: none


.sidebar-nav-item
  display: block
  margin: 0


a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus
  text-decoration: underline

.sidebar-nav-item.active
  font-weight: bold


/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

.sidebar-sticky
  display: flex
  justify-content: space-between
  align-items: center
  height: 100%

  @media screen and (min-width: 48rem)
    display: flex
    flex-direction: column
    align-items: flex-start
    height: 100%
    justify-content: flex-end

/* Site Logo */
.site-title h1
  background:
    image: url("/assets/img/logo.svg")
    repeat: no-repeat
    position: left center
    size: contain
  display: inline-block
  width: 120px
  margin: 0
  line-height: 40px
  color: transparent


  @media screen and (min-width: 48rem)
    display: block
    width: calc(18rem - 80px)
    margin-top: 0
    line-height: 4

.site-title
  &:hover
    text-decoration: none


.mobile-toogle
  display: inline-block
  background: transparent
  border: 0
  padding: 0
  outline: none
  +size(60px)
  color: $grey-color
  font-family: sans-serif
  font-size: 50px
  line-height: 1
  +transition

  &::before
    content: "☰"
    +transition

  &.open
    &::before
      content: "×"
      font-size: 70px
      line-height: 50px

  @media screen and (min-width: 48rem)
    display: none


.lead, .copyright, .sidebar-nav
  display: none

  @media screen and (min-width: 48rem)
    display: block
