---
layout: default
---

{% if page.paginator %}
{% assign paginator = page.paginator %}
{% endif %}

<div class="posts">
{% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <div class="post-meta">
      <div class="left">
        <span class="post-date">{{ post.date | date_to_string }} ◦</span>
        <span class="post-categories">
          {% for category in post.categories %}
          <a class="post-category" href="{{ site.baseurl }}/categories/{{ category }}">{{category}}</a>
          {% unless forloop.last%}/{% endunless %}
          {% endfor %}
        </span>
      </div>
      <div class="right">
        <span><a class="post-comments" href="{{ post.url | prepend: site.baseurl }}#disqus_thread" data-disqus-identifier="{{ post.id }}">Comment</a></span>
      </div>
    </div>

    <p>{{ post.content | truncatewords: 45 }}</p>

    <img class="post-image" src="{% if post.thumbnail %}/assets/img/{{ post.thumbnail }}{% else %}http://placehold.it/960x400{% endif %}"/>
  </div>
{% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/tags/{{ page.title }}/page/{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/tags/{{ page.title }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/tags/{{ page.title }}/page/{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
